{% load static ndb_tags %}
{% if src_path %}
  {% if version %}
    <img src="{{ src_path|media_url:version }}" alt="{{ alt|default:'' }}"{% if extra_class %} class="{{ extra_class }}"{% endif %}{% if placeholder %} data-fallback="{% static placeholder %}" onerror="this.onerror=null;this.src=this.dataset.fallback;"{% endif %}>
  {% else %}
    <img src="{{ src_path|media_url }}" alt="{{ alt|default:'' }}"{% if extra_class %} class="{{ extra_class }}"{% endif %}{% if placeholder %} data-fallback="{% static placeholder %}" onerror="this.onerror=null;this.src=this.dataset.fallback;"{% endif %}>
  {% endif %}
{% elif placeholder %}
  <img src="{% static placeholder %}" alt="{{ alt|default:'' }}"{% if extra_class %} class="{{ extra_class }}"{% endif %}>
{% endif %}
